:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-color: #522a70;
  font-family: var(--font-space-grotesk), sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
