.authContainer {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.authFormSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 2rem;
    font-family: var(--font-space-grotesk), sans-serif;
}

.authFormWrapper {
    width: 100%;
    max-width: 380px;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #444;
    margin-bottom: 1.5rem;
}

.label {
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1rem;
    display: block;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
}

.passwordWrapper {
    position: relative;
}

.icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.btnPrimary {
    background-color: #4b286d;
    color: white;
    border: none;
    width: 100%;
    padding: 0.9rem;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 1.5rem;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 1.5rem 0;
    color: #aaa;
    position: relative;
}

.divider span {
    background: white;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
    z-index: 0;
}

.btnGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: white;
    padding: 0.8rem;
    width: 100%;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.btnGoogle img {
    width: 20px;
    margin-right: 8px;
}

.signinText {
    text-align: center;
    margin-top: 1.2rem;
    font-size: 0.9rem;
}

.signinText a {
    color: #4b286d;
    text-decoration: none;
    font-weight: 600;
}

/* RIGHT SIDE */
.authHeroSection {
    font-family: var(--font-space-grotesk), sans-serif;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay {
    position: absolute;
    inset: 0;
}

.heroContent {
    position: relative;
    text-align: center;
}

.logo {
    width: 191px;
    margin-bottom: 0.1rem;
}

.heroTitle {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.heroTagline {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 0.1rem;
}